body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: darkgray;
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
}

header .menu {
    list-style: none;
    text-align: center;
    padding: 0;
}

header .menu li {
    display: inline;
    margin: 0 15px;
}

header .menu a {
    color: white;
    text-decoration: none;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 1em 0;
    margin-top: 20px;
}
p {
    margin: 20px auto;
    color: bisque;
    font-family: monospace;
    
}
